/* Style for the form container */
.mat-elevation-z2 {
  width: 85%;           /* Set a fixed width for the form */
  margin-top: 50px;       /* Add space above the form */
  padding: 20px;          /* Add padding inside the form for spacing */
}

/* Style for Angular Material form fields */
mat-table {
  width: 100%;            /* Make form fields occupy 100% of the form's width */
}

.content {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
