/* Style for the product list container */
.mat-elevation-z2 {
  width: 85%;           /* Width adjusted to 85% of the parent element */
  margin-top: 50px;     /* Margin at the top for spacing */
  padding: 20px;        /* Padding inside the container */
}

/* Style for the table */
mat-table {
  width: 100%;          /* Table occupies full width of its container */
}

/* Styling for content wrapper */
.content {
  height: 100%;         /* Full height */
  width: 100%;          /* Full width */
  display: flex;        /* Flexbox for alignment */
  align-items: center;  /* Center items vertically */
  justify-content: center; /* Center items horizontally */
}

/* Styling for create button */
.Create {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Styling for the create new product button */
.create-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;       /* Padding for spacing */
}
