<div style="text-align:center">
  <h1>
    Welcome to {{ History }}! <br>
    Uhrzeit: {{ date }}
  </h1>
</div>
<pg-accordion-wrapper [maxSimultaneouslyOpened]="2">
  <pg-accordion-element [title]="'Bern'">
    With 142,479 inhabitants, Bern is one of the largest municipalities in Switzerland - alongside Zurich, Geneva, Basel and Lausanne.
    one of the largest municipalities in Switzerland; around 390,000
    3] The city of Bern is the center of the Bern-Mittelland economic region.
    of the Bern-Mittelland economic region. The
    city is not only the seat of the municipal and cantonal, but as a federal
    cantonal administration, but also the federal
    and is therefore the largest administrative center in Switzerland. For some time now
    efforts to position the city and agglomeration more clearly
    more clearly as the capital region of Switzerland.
  </pg-accordion-element>
  <pg-accordion-element [title]="'Zürich'">
    With a population of 402,762 (as at December 31, 2016)[6], the city of Zurich is by far the
    by far the largest city in Switzerland and has a
    has a population density of 4384 inhabitants per square kilometer. The
    City of Zurich defines the resident population
    the economic definition of residence (also includes, among others
    week residents, asylum seekers, refugees with temporary
    admission) was 424,322 people as at February 2018.[7] At 32.1 percent (31.
    December 2016)[8], Zurich has an above-average proportion of foreigners
    proportion of foreigners (registered population without Swiss citizenship)
    has. The surrounding area is densely populated, so that
    1.3 million in the Zurich agglomeration[9] and around 1.83 million in the
    1.83 million people live in the Zurich metropolitan region[10].
    The district of Zurich is identical to the urban area.
  </pg-accordion-element>
  <pg-accordion-element [title]="'Basel'">
    The border town of Basel lies at the southern end of the Upper Rhine Plain
    and at the western beginning of the High Rhine Plain at the
    Switzerland-Germany-France border triangle and therefore has suburbs in all three countries.
    in all three countries. In the tri-national
    agglomeration of the city is home to around 830,000 people[4], while the
    metropolitan region of Basel has a population of around 1.3
    million people live in the wider Basel metropolitan region.
  </pg-accordion-element>
</pg-accordion-wrapper>
