<div class="div mat-elevation-z2">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="registerForm" (ngSubmit)="register()">
        <!-- Anrede -->
        <mat-form-field>
          <mat-label>Salutation</mat-label>
          <mat-select formControlName="Salutation">
            <mat-option value="Men">Men</mat-option>
            <mat-option value="Women">Women</mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Vorname -->
        <mat-form-field>
          <input matInput placeholder="FirstName" formControlName="FirstName" required>
        </mat-form-field>

        <!-- Nachname -->
        <mat-form-field>
          <input matInput placeholder="LastName" formControlName="LastName" required>
        </mat-form-field>

        <!-- Straße -->
        <mat-form-field>
          <input matInput placeholder="Street" formControlName="Street" required>
        </mat-form-field>

        <!-- PLZ -->
        <mat-form-field>
          <input matInput placeholder="Zip" formControlName="Zip" required>
        </mat-form-field>

        <!-- Ort -->
        <mat-form-field>
          <input matInput placeholder="City" formControlName="City" required>
        </mat-form-field>

        <!-- Land -->
        <mat-form-field>
          <input matInput placeholder="Country" formControlName="Country">
        </mat-form-field>

        <!-- Telefonnummer -->
        <mat-form-field>
          <input matInput placeholder="Phone" formControlName="Phone" type="tel">
        </mat-form-field>

        <!-- Mobiltelefonnummer -->
        <mat-form-field>
          <input matInput placeholder="MobilePhone" formControlName="MobilePhone" type="Tel">
        </mat-form-field>

        <!-- E-Mail -->
        <mat-form-field>
          <input matInput placeholder="Email" formControlName="Email" required type="Email">
        </mat-form-field>

        <!-- Passwort -->
        <mat-form-field>
          <input matInput placeholder="Password" formControlName="Password" required type="Password">
        </mat-form-field>
        <div class="button">
        <button mat-raised-button color="primary" type="submit">Registrieren</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
