@use '../../../../styles.scss' as styles;

// Verwenden Sie eine Container-Klasse, um das Layout zu zentrieren und zu definieren
.container {
  width: 100%;
  height: 100vh; // Vollbildhöhe
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-container {
  width: 80%;
  max-width: 500px; // Maximale Breite der Karte
  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.3); // Leichtere Schatten
  padding: 2rem; // Innerer Abstand
  background-color: gray; // Verwenden Sie eine Sekundärfarbe aus Ihren globalen Styles
  border-radius: 8px; // Abgerundete Ecken
}

mat-card {
  width: 100%; // Die Karte füllt den Container aus
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

mat-form-field {
  width: 100%; // Formularfelder füllen die verfügbare Breite aus
  margin-bottom: 1rem; // Abstand am unteren Rand für jedes Formularfeld
}

button {
  margin-top: 1rem; // Abstand am oberen Rand für den Button
}

// Hintergrundbild für die Kopfzeile der Karte
.example-header-image {
  width: 100%; // Vollbildbreite
  height: 200px; // Feste Höhe für das Header-Bild
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
  border-top-left-radius: 8px; // Runde Ecken, die zur Karte passen
  border-top-right-radius: 8px;
}

// Sie können die folgenden Klassen verwenden, um Ihre Schaltflächen anzupassen
.primary-button {
  background-color: darkgray; // Primärfarbton für den Button
  color: white; // Weiße Textfarbe für Kontrast
}

.secondary-button {
  background-color: darkgray; // Sekundärfarbton für den Button
  color: black; // Textfarbe aus den globalen Styles
}
