/* Styling for the category list component container */
.mat-elevation-z2 {
  width: 600px; /* Fixed width for better layout control */
  margin-left: auto; /* Horizontally center the container */
  margin-right: auto;
  margin-top: 50px; /* Vertical spacing from the top */
  padding: 20px; /* Padding inside the container */
}

/* Ensuring the material table takes full width */
mat-table {
  width: 100%;
}

/* Style for 'Create' button */
.Create {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Style for the 'create new category' button */
.create-btn {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px; /* Padding for spacing */
}
