<!-- User login form -->
<form class="center mat-elevation-z2" (ngSubmit)="submit()">
  <!-- Form field for the email address -->
  <mat-form-field>
    <mat-label>E-Mail Address</mat-label>
    <!-- Input field for the email, bound to the form control -->
    <input [formControl]="fromGroup.controls.email" type="email" matInput>
    <!-- Error message if the email field is empty -->
    <mat-error *ngIf="fromGroup.controls.email.hasError('required')">
      Field cannot be empty!
    </mat-error>
    <!-- Error message if the email is not in a valid format -->
    <mat-error *ngIf="fromGroup.controls.email.hasError('pattern')">
      Must be a valid e-mail address!
    </mat-error>
  </mat-form-field>

  <!-- Form field for the password -->
  <mat-form-field>
    <mat-label>Password</mat-label>
    <!-- Input field for the password, bound to the form control -->
    <input [formControl]="fromGroup.controls.password" type="password" matInput>
  </mat-form-field>

  <!-- Container for the buttons -->
  <div class="midde">
    <!-- Submit button for the form -->
    <button class="Log In" mat-button color="primary" type="submit" mat-raised-button>
      Log In
    </button>
    <!-- Link to the registration page -->
    <button class="registerButton" routerLink="/register" mat-button color="Grey" type="button" mat-raised-button>
      Register
    </button>
  </div>
</form>
