<!-- Container for the form with a material design elevation -->
<div class="div mat-elevation-z2">
  <mat-card>
    <mat-card-content>
      <!-- Login form with Angular reactive form directives -->
      <form [formGroup]="formGroup" (ngSubmit)="submit()">

        <!-- Error message, if any -->
        <div *ngIf="loginErrorMessage" class="error-message">
          {{ loginErrorMessage }}
        </div>

        <!-- Email input field -->
        <mat-form-field>
          <input matInput placeholder="Email" formControlName="email" required type="email">
        </mat-form-field>

        <!-- Password input field -->
        <mat-form-field>
          <input matInput placeholder="Password" formControlName="password" required type="password">
        </mat-form-field>

        <!-- Submit button for the form -->
        <div class="button">
          <button mat-raised-button color="primary" type="submit">Log In</button>
          <!-- Link to the registration page -->
          <button class="registerButton" routerLink="/register" mat-button color="Grey" type="button" mat-raised-button>
            Register
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
