/* Style for the form container */
.div {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding: 20px;
}

/* Style for Angular Material form fields */
mat-form-field {
  width: 100%;
}

/* Style for the button container */
.button {
  text-align: center;
}

/* Style for error message */
.error-message {
  color: red;
  margin-bottom: 15px;
  text-align: center;
}

.registerButton {
  margin-left: 20px;
}
